.vs/
Debug/
Release/
code/Debug_Intermediate/
code/Release_Intermediate/
.vs/HandmadeHero/v16/Browse.VC.db
.vs/HandmadeHero/v16/Browse.VC.db-shm
.vs/HandmadeHero/v16/Browse.VC.db-wal
.vs/HandmadeHero/v17/.suo
.vs/HandmadeHero/v17/Browse.VC.db
code/Debug_Intermediate/handmade.obj
code/Debug_Intermediate/HandmadeHero.exe.recipe
code/Debug_Intermediate/HandmadeHero.ilk
code/Debug_Intermediate/HandmadeHero.log
code/Debug_Intermediate/HandmadeHero.tlog/CL.command.1.tlog
code/Debug_Intermediate/HandmadeHero.tlog/CL.read.1.tlog
code/Debug_Intermediate/HandmadeHero.tlog/CL.write.1.tlog
code/Debug_Intermediate/HandmadeHero.tlog/HandmadeHero.lastbuildstate
code/Debug_Intermediate/HandmadeHero.tlog/link.command.1.tlog
code/Debug_Intermediate/HandmadeHero.tlog/link.read.1.tlog
code/Debug_Intermediate/HandmadeHero.tlog/link.write.1.tlog
code/Debug_Intermediate/vc143.idb
code/Debug_Intermediate/vc143.pdb
code/Release_Intermediate/handmade.obj
code/Release_Intermediate/HandmadeHero.exe.recipe
code/Release_Intermediate/HandmadeHero.iobj
code/Release_Intermediate/HandmadeHero.ipdb
code/Release_Intermediate/HandmadeHero.log
code/Release_Intermediate/HandmadeHero.tlog/CL.command.1.tlog
code/Release_Intermediate/HandmadeHero.tlog/CL.read.1.tlog
code/Release_Intermediate/HandmadeHero.tlog/CL.write.1.tlog
code/Release_Intermediate/HandmadeHero.tlog/HandmadeHero.lastbuildstate
code/Release_Intermediate/HandmadeHero.tlog/link.command.1.tlog
code/Release_Intermediate/HandmadeHero.tlog/link.read.1.tlog
code/Release_Intermediate/HandmadeHero.tlog/link.write.1.tlog
Debug/HandmadeHero.exe
Debug/HandmadeHero.pdb
Release/HandmadeHero.exe
Release/HandmadeHero.pdb
